/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px; /* Reduced font size */
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main styles */
main {
    padding: 20px;
}

/* Search section styles */
#search {
    margin-bottom: 20px;
}

#searchForm {
    display: flex;
}

#searchKeyword {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Listings section styles */
/* CSS styles for listing display */
#listings {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 listings per row */
    grid-gap: 20px; /* Adjust the gap between listings */
}

.listing {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.listing:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.listing img {
    width: 200px;
    height: 200px;
    display: block;
}

.listing-content {
    padding: 15px;
}

.listing h3 {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 10px;
}

.listing p {
    margin: 0;
    font-size: 16px;
}

.listing .contactSeller {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

.listing .contactSeller:hover {
    background-color: #0056b3;
}

/* Logo styles */
.logo {
    float: left;
    margin-right: 10px;
}

.logo img {
    width: 60px; /* Adjusted size */
    height: auto;
    vertical-align: middle;
}
/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* Add some space between the content and footer */
}

.profile-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container i {
    margin-right: 5px;
}